openapi: 3.0.1
info:
  title: Code Context Plugin
  description: A plugin that gives you information and code snippets from the codebase the user is working on.
  version: "v1"
servers:
  - url: https://api.bluecollarverse.co.uk
paths:
  /code_context:
    post:
      operationId: getCodeContext
      summary: Tells you about code the user has written and is currently working on
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/getContextRequest"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/getContextResponse"
        "400":
          description: Bad Request
        "500":
          description: Internal Server Error
  /name:
    get:
      operationId: getUser
      summary: Tells you the name of the user
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/getNameResponse"
        "404":
          description: Not Found
        "500":
          description: Internal Server Error
components:
  schemas:
    getContextRequest:
      type: object
      required:
        - query
      properties:
        query:
          type: string
          description: User's question related to code or specific parts of the codebase.
    getContextResponse:
      type: object
      properties:
        body:
          type: string
          description: Code from the user's codebase.
    getNameResponse:
      type: object
      properties:
        body:
          type: string
          description: User's name.
